@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  height: 100%;
  width: 100%;
  font-size: 14px;
	font-family: Montserrat;
	font-weight: 500;
	color: #252B42;
	line-height: 142%;
	letter-spacing: 0.2px;
}

/*--------------------*/

.wrapper{
	min-height: 100%;
	overflow:hidden;
	
	display:flex;
	flex-direction:column;  
}

/* ---ОБНУЛЕНИЕ-КОНЕЦ------------------------------------------------ */

._container {
	max-width: 1046px; 
	margin: 0 auto;
	padding: 0 15px;
	box-sizing:content-box;
}

/* ---HEADER------------------------------------------------ */

.header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 50;

}

.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}

.header__logo {
	font-weight: 700;
	font-size: 24px;
	line-height: 133%;
	letter-spacing: 0.1px;
	color: inherit;
	position: relative;
	z-index: 3;
	
}


.header__menu {
	margin: 0 0 0 132px;
}

.menu {

}

.menu__list {
	display: flex;
}
.menu__item {

}

.menu__item:not(:last-child) {
	margin: 0 21px 0 0;
}
.menu__link {
	font-weight: 600;
	color: #737373;
	
}

/* ---HEADER__BURGER------------------------------------------------ */


.header__burger{
	display: none;
}

/* ---МЕДИА------------------------------------------------ */
@media (max-width:767px){
	body.lock{
		overflow: hidden;
	}
	
	.header__container {
		min-height: 80px;
	}
	.header__logo{
		flex: 1 1 auto;
		font-size: 20px;
	}
	
	.header__burger {
		display: block;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
	}

/* ------------------- */

	.header__burger span{
		position: absolute;
		background-color: #252B42;
		left: 0;
		width: 100%;
		height: 4px;
		top: 8px;
		transition: all 0.3s ease 0s;
		
	}

/* ------------------- */

	.header__burger::before,
	.header__burger::after{
	content: '';
	background-color: #FF7B47;
	position: absolute;
	width: 100%;
	height: 2.2px;
	left: 0;
	transition: all 0.3s ease 0s;
}

	.header__burger:before{
		content: '';
		top: 0px;
}
	.header__burger::after{
		content: '';
		bottom:0px;
} 

/* ------------------- */

.menu__list {
	display: block;
	
}

.menu__item:not(:last-child) {
	margin: 0 0 30px 0;
}


.header__burger.active::before{
	transform: rotate(45deg);
	top: 9px;
}
.header__burger.active::after{
	transform: rotate(-45deg);
	bottom: 9px;
}

.header__burger.active span {
	transform: scale(0);
	
}

/* ------------------- */


.header__menu{
	position: fixed;
	top: -100%;
	right:0;
	width: 100%;
	height: 100%;
	padding: 70px 15px 0px 15px;
	transition: all 0.3s ease 0s;
	text-align: center;
	overflow: auto;
	
}

.header__menu.active{
	top: 0%;
	right:0;
	background-color: #dddbdb;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 18px;
}
/* ------------------- */
















}

